    <section id='abstract'>
      <p>
This is the most recent implementation report for the
<a href="https://w3c-ccg.github.io/did-spec/">Decentralized Identifiers (DIDs) </a> specification.
      </p>
    </section>

    <section id='sotd'>
      <p>
Comments regarding this document are welcome. Please file issues
directly on <a href="https://github.com/w3c-ccg/did-test-suite">GitHub</a>,
or send them to
<a href="mailto:public-credentials@w3.org">public-credentials@w3.org</a>
(<a href="mailto:public-credentials@w3.org?subject=subscribe">subscribe</a>,
<a href="https://lists.w3.org/Archives/Public/public-credentials/">archives</a>).
      </p>

    </section>

    <section class="informative">
      <h1>Introduction</h1>

      <p>
The purpose of this document is to demonstrate that there are multiple
interoperable implementations of Decentralized Identifiers (DIDs) that are capable of generating
output that is conformant to the latest version.
      </p>

      <section class="informative">
        <h2>Testing Methodology</h2>

        <p>
The testing framework for Decentralized Identifiers (DIDs)  executes the
following process for every conformance statement in the 
<a href="https://github.com/w3c-dvcg/http-signatures-test-suite">
Decentralized Identifiers (DIDs)  specification</a> :
        </p>

        <ol class="algorithm">
          <li>
Take an input that exercises the feature and feed it to a
developer provided Decentralized Identifiers (DIDs) binary.
          </li>
          <li>
If the input is valid, generate a DID from the input.
          </li>
          <li>
The test suite then ensures that the generated DID is
conformant to the feature being tested.
          </li>
        </ol>
      </section>
    </section>
